
* {
  margin: 0;
  padding: 0;
  }
  
  body {
  display: flex;
  background-color: (204,220,255);
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Arial;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f2f3f7;
  
  }
  #message-container {
  width: 100%;
  height: 50px;
  text-align: center;
  overflow: scroll;
  }
  
  canvas{
    margin-top: 50 px;
    }
  
  button {
  text-align: center; 
  margin-top: 20px;
  margin-bottom: 20px;
  position: center;
  display: inline-block;
  padding: 20px 60px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 2px;
  color: #5a84a2;
  font-size: 18px;
  border-radius: 60px;
  box-shadow: -2px -2px 8px rgba(255, 255, 255, 1),
      -2px -2px 12px rgba(255, 255, 255, 0.5),
      inset 2px 2px 4px rgba(255, 255, 255, 0.1),
      2px 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  button:hover {
  box-shadow: inset -2px -2px 8px rgba(255, 255, 255, 1),
      inset -2px -2px 12px rgba(255, 255, 255, 0.5),
      inset 2px 2px 4px rgba(255, 255, 255, 0.1),
      inset 2px 2px 8px rgba(0, 0, 0, 0.15);
  }
  
  button:hover span {
  display: inline-block;
  transform: scale(0.98);
  }
  
  .word
  {
  color: rgb(230, 238, 255);
  font-size: x-small,
  
  }
  .word2
  
  {
  color: rgb(230, 238, 255);
  font-size: small;
  
  }
  
  
  

  